#--{ alterEGO Linux: "Open the vault of knowledge" }---------------------------
#
# .envrc
#   created        : 2021-04-28 15:28:51 UTC
#   updated        : 2021-04-29 14:35:04 UTC
#   description    : environment config file. 
#   app            : sh
#   target         : $HOME/.config/environment/.envrc
#------------------------------------------------------------------------------

#----------{ VARIABLES }

  export ENVRC="OK"

  #-----[ PATH ]
  directories=( "fH/scripts" "droid/scripts" "scripts" )

  for dir in "${directories[@]}"; do
      if [ -e ${HOME}/${dir} ]; then
          PATH="${PATH}:${HOME}/${dir}"
      fi
  done
  export PATH

# vim: syntax=sh
#--{ file:FIN }----------------------------------------------------------------
