## { alterEGO Linux: "Open the vault of knowledge" }---------------------------
##
## .envrc
##   created        : 2021-04-28 15:28:51 UTC
##   updated        : 2021-08-31 22:02:20 UTC
##   description    : Environment config file. 
##   app            : sh
##   target         : ${HOME}/.alterEGO/.envrc
## ____________________________________________________________________________

## [ VARIABLES ]

  export ENVRC="OK"

## [ DEFAULT APPLICATIONS ]

  export BROWSER=firefox
  export FZF_DEFAULT_COMMAND='rg --files --hidden '
  export TERMINAL="xfce4-terminal --hide-scrollbar --hide-menubar --hide-toolbar"
  export VISUAL=vim
  export EDITOR=${VISUAL}

## [ PATH ]
  directories=( "fH/scripts" "droid/scripts" "scripts" )

  for dir in "${directories[@]}"; do
      if [ -e ${HOME}/${dir} ]; then
          PATH="${PATH}:${HOME}/${dir}"
      fi
  done
  export PATH

# vim: syntax=sh
## { FIN }_____________________________________________________________________
