## { alterEGO Linux: "Open the vault of knowledge" }---------------------------
##
## .envrc
##   created        : 2021-04-28 15:28:51 UTC
##   updated        : 2021-09-08 12:11:58 UTC
##   description    : Environment config file. 
##   app            : sh
##   target         : ${HOME}/.alterEGO/.envrc
## ____________________________________________________________________________

## [ VARIABLES ]

  export TERM="xterm-256color"

  export COLOR_ESC=$"\033"
  export COLOR_BLUE="${COLOR_ESC}[34m"
  export COLOR_BOLD="${COLOR_ESC}[1m"
  export COLOR_GREEN="${COLOR_ESC}[32m"
  export COLOR_RED="${COLOR_ESC}[31m"
  export COLOR_RESET="${COLOR_ESC}[0m"

## [ PROMPTS ]

  PROMPT_COMMAND='history -a'

  # export PS1='[\u@\h \W]\$ '
  export PS1="\[${COLOR_GREEN}\]\h [\w]\n\[${COLOR_GREEN}\]$ \[${COLOR_RESET}\]"

## [ DEFAULT APPLICATIONS ]

  export BROWSER=firefox
  export FZF_DEFAULT_COMMAND='rg --files --hidden '
  export TERMINAL="xfce4-terminal --hide-scrollbar --hide-menubar --hide-toolbar"
  export VISUAL=vim
  export EDITOR=${VISUAL}

## [ PATH ]
  directories=( "fH/scripts" "droid/scripts" "scripts" )

  for dir in "${directories[@]}"; do
      if [ -e ${HOME}/${dir} ]; then
          PATH="${PATH}:${HOME}/${dir}"
      fi
  done
  export PATH

## [ VIM ]

  #### Enable CTRL+s and CTRL+q in vim.
  stty -ixon

## [ QT5 ]
  #### https://wiki.manjaro.org/index.php/Set_all_Qt_app%27s_to_use_GTK%2B_font_%26_theme_settings
  #### Set all Qt app's to use GTK+ font & theme settings
  ####   Overview
  ####   When using a Desktop Environment or Window Manager that doesn't allow for the settings of QT themes,
  ####   you can set QT to use your GTK themes instead.
  ####   Using qt5ct
  ####   note: In some Manjaro editions, this is already done for you by default
  ####   Install qt5ct using your favorite package manager or the command:
  ####   pamac install qt5ct
  ####   Set environment variables in ~/.profile by adding or updating the following lines:
  ####   export QT_QPA_PLATFORMTHEME="qt5ct"
  ####   Run the application QT5 Configuration Manager from the menu or run the command qt5ct.
  ####   Logout and login again to make the change effective

  # export QT_QPA_PLATFORMTHEME="qt5ct"

## [ LOADED ]

  function loaded_envrc() {
    printf "${COLOR_GREEN}[+]${COLOR_RESET} ${COLOR_BOLD}.envrc loaded @ $(date | sed 's/  / /g')...${COLOR_RESET}\n"
  }
  loaded_envrc

## [ RELOAD ]

  function reload_envrc() {
    source "${HOME}/.alterEGO/.envrc"
  }

# vim: syntax=sh
## { FIN }_____________________________________________________________________
